# SOURCE
debezium.source.connector.class=io.debezium.connector.mysql.MySqlConnector

debezium.source.database.hostname=db
debezium.source.database.port=3306
debezium.source.database.user=
debezium.source.database.password=
debezium.source.database.dbname=converter
debezium.source.database.server.id=1
debezium.source.table.include.list=events

debezium.source.database.include.list=converter
debezium.source.publication.autocreate.mode=filtered
debezium.source.include.schema.changes=false
debezium.source.topic.prefix=sub

# this is for testing only
debezium.source.schema.history.internal=io.debezium.relational.history.MemorySchemaHistory
debezium.source.offset.storage.file.filename=data/offsets.dat
debezium.source.snapshot.mode=schema_only

debezium.source.transforms=route,unwrap
debezium.source.value.converter=org.apache.kafka.connect.json.JsonConverter
debezium.source.value.converter.schemas.enable=false
debezium.source.transforms.unwrap.type=io.debezium.transforms.ExtractNewRecordState
debezium.source.transforms.unwrap.drop.tombstones=false
debezium.source.transfroms.unwrap.drop.fields.from.key=true
debezium.source.transforms.unwrap.delete.handling.mode=rewrite
debezium.source.transforms.route.type=org.apache.kafka.connect.transforms.RegexRouter
debezium.source.transforms.route.regex=([^.]+)\\.([^.]+)\\.([^.]+)
debezium.source.transforms.route.replacement=subscribers-changed


# SINK
debezium.sink.type=nats-jetstream
debezium.sink.nats-jetstream.url=nats://nats:4222
debezium.sink.nats-jetstream.create-stream=true
debezium.sink.nats-jetstream.subjects=subscribers-changed
